<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
	<a href="#" onclick="javascript:history.back(); return false;">На главную</a>
	{% extends 'base.html' %}

	{% block title %}{{project.project_title}}{% endblock %}
	{% block content %}
	<p style="color: red">{{project.project_client}}</p>
	<h2>{{project.project_title}}</h2>

            <img src="{{ project.project_cover.url }}">

	{% endblock %}
</body>
</html>

{% if project.project_cover %}{{MEDIA_URL}}{{ project.project_cover.url }}{% endif %}